body {
  font-size: 18px;
  background: rgb(204,204,204);
  font-family: student, sans-serif, serif;
  color: var(--dark-gray);
}

page {
  display: flex;

  background: var(--page-background);
  box-shadow: 0 0 .5cm rgba(0,0,0,.5);

  margin: 0 auto;

  flex-direction: row;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
